.about-main {
    width: 99vw;
    height: 100%;
}

.basic-about {
    margin-left: 5%;
    margin-right: 5%;
    height: 79vh;
}

.heading-div-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading-div-about2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.heading-div-about > * {
    display: flex;
    width: 100%;
}

.heading-img-div-about {
    align-items: center;
    justify-content: center;
}

.heading-text-div-about {
    align-items: center;
    flex-direction: column;
    width: 45vw;
}

.heading-img-div-about > * {
    height: auto;
    width: 45vw;
}

.heading-text-about {
    font-size: 56px;
    font-weight: 400;
    font-family: "Google Sans Medium";
    line-height: 1.1;
    text-align: center;
    margin-top: 30px;
}

.hobbies{
    margin-top: 50px;
}

.heading-sub-text-about {
    font-size: 30px;
    font-family: "Google Sans Regular";
    text-align: center;
    line-height: 40px;
    padding-bottom: 30px;
    margin-top: -10px;
}

@media (max-width: 1380px) {
    .heading-text-about {
        font-size: 50px;
        margin-top: 30px;
    }
    .heading-sub-text-about {
        padding-bottom: 30px;
        font-size: 25px;
        margin-top: -10px;
    }
}

@media (max-width: 768px) {
    .heading-text-about {
        font-size: 30px;
        margin-top: 20px;
    }

    .heading-sub-text-about {
        font-size: 20px;
        padding-bottom: 30px;
        margin-top: -10px;
    }

    .heading-div-about {
        flex-direction: column;
    }

    .heading-div-about2 {
        flex-direction: column;
    }

    .heading-img-div-about > * {
        width: 95vw;
    }

    .heading-text-div-about {
        width: 95vw;
    }
}

/* --------- */
.skills-section {
    position: relative !important;
    padding-bottom: 30px !important;
    /*background-image: var(--section-background-color) !important;*/
    color: black;
}

.skill-circle-painted{
    width: 15px;
    height: 15px;
    border: solid 1px black;
    border-radius: 15px;
    background-color: var(--themeBlue);
}

.skill-circle{
    width: 15px;
    height: 15px;
    border: solid 1px black;
    border-radius: 15px;
}

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.soft-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}